<p style="text-align: left;">
	&nbsp; &nbsp; &nbsp;<img
		src="/ueditor/jsp/upload/image/20170624/1498315516779039026.jpg"
		title="1498315516779039026.jpg" alt="贝可曼尼LOGE.jpg" width="100"
		height="52" /> &nbsp;<strong
		style="text-align: right; padding-left: 32%;"><span
		style="font-size: 24px;">合同</span></strong> &nbsp;<strong
		style="text-align: right; float: right;">合同编号:${number!}</strong>
</p>
<p style="white-space: normal; text-align: right;">
	<strong><br /></strong>
</p>
<p style="white-space: normal;">
	<span style="background-color: rgb(216, 216, 216);"></span>
</p>
<table width="100%">
	<tbody>
		<tr class="firstRow">
			<td valign="top" width="220"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>甲方</strong></td>
			<td valign="top" width="338"
				style="background-color: rgb(216, 216, 216);"><br /></td>
			<td valign="top" width="198"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>乙方</strong></td>
			<td valign="top" width="306"
				style="background-color: rgb(216, 216, 216); word-break: break-all;"><br /></td>
		</tr>
		<tr>
			<td valign="top" width="220" style="word-break: break-all;">公司名称：</td>
			<td valign="top" width="338" style="word-break: break-all;">${Acontract!}&nbsp;</td>
			<td valign="top" width="198" style="word-break: break-all;">公司名称：</td>
			<td valign="top" width="306" style="word-break: break-all;">${Bcontract!}&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="220" style="word-break: break-all;">联系人：</td>
			<td valign="top" width="338" style="word-break: break-all;">${Acontact!}&nbsp;</td>
			<td valign="top" width="198" style="word-break: break-all;">联系人：</td>
			<td valign="top" width="306" style="word-break: break-all;">${Bcontact!}&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="220" style="word-break: break-all;">电话：</td>
			<td valign="top" width="338" style="word-break: break-all;">${Atelephone!}
				&nbsp;</td>
			<td valign="top" width="198" style="word-break: break-all;">电话：</td>
			<td valign="top" width="306" style="word-break: break-all;">${Btelephone!}
				&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="220" style="word-break: break-all;">手机：</td>
			<td valign="top" width="338" style="word-break: break-all;">${Atelephone!}
				&nbsp;</td>
			<td valign="top" width="198" style="word-break: break-all;">手机：</td>
			<td valign="top" width="306" style="word-break: break-all;">${Btelephone!}
				&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="220" style="word-break: break-all;">地址：</td>
			<td valign="top" width="338" style="word-break: break-all;">${Aaddress!}&nbsp;</td>
			<td valign="top" width="198" style="word-break: break-all;">地址：</td>
			<td valign="top" width="306" style="word-break: break-all;">${Baddress!}&nbsp;</td>
		</tr>
	</tbody>
</table>
<p style="white-space: normal;">
	<span style="background-color: rgb(216, 216, 216);"></span><br />
</p>
<table width="100%">
	<tbody>
		<tr class="firstRow">
			<td width="150" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>商品信息</strong></td>
			<td width="150" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>型号大小颜色</strong></td>
			<td width="80" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>数量</strong></td>
			<td width="100" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>金额小计</strong></td>
			<td width="100" valign="top"
        style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>定制费</strong></td>
			<td width="470" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>商品备注</strong></td>
		</tr>
		${orderiteminfo!}
		</tbody>
</table>
<table width="100%">
 <tbody>
		<tr>
			<td valign="top" rowspan="1" colspan="5" width="1116"
				style="word-break: break-all;">
				<p style="float: right;">
					<strong>金额小计：${amount!}</strong>
				</p>
			</td>
			</tr>
			<tr>
			<td valign="top" rowspan="1" colspan="5" width="1116"
				style="word-break: break-all;">
				<p style="float: right;">
					<strong>定制费：${afee!}</strong>
				</p>
			</td>
			</tr>
			<tr>
			<td valign="top" rowspan="1" colspan="5" width="1116"
				style="word-break: break-all;">
				<p style="float: right;">
					<strong>应付款：${paid!}</strong>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p style="white-space: normal;">
	<br />
</p>
<table width="100%">
	<tbody>
		<tr class="firstRow">
			<td width="1125" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>付款信息</strong></td>
		</tr>
		<tr>
			<td width="1125" valign="top" style="word-break: break-all;"><p>${paymentinfo!}</p></td>
		</tr>
	</tbody>
</table>
<p style="white-space: normal;">
	<strong><span style="background-color: rgb(191, 191, 191);"></span></strong>
</p>
<p style="white-space: normal;">
	<span style="background-color: rgb(191, 191, 191);"><br /></span>
</p>
<p style="white-space: normal;">
	<span style="background-color: rgb(191, 191, 191);"></span>
</p>
<table width="100%">
	<tbody>
		<tr class="firstRow">
			<td width="1125" valign="top"
				style="word-break: break-all; background-color: rgb(216, 216, 216);"><strong>订单信息</strong></td>
		</tr>
		<tr>
			<td width="1125" valign="top" style="word-break: break-all;"><p>${accountinfo!}</p>
				<p>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp;<img
						src="/ueditor/jsp/upload/image/20170624/1498315391451009933.jpg"
						title="1498315391451009933.jpg" width="164" height="174" />&nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img
						src="/ueditor/jsp/upload/image/20170624/1498315391474084480.jpg"
						title="1498315391474084480.jpg" width="168" height="172" />
				</p></td>
		</tr>
	</tbody>
</table>
<p>
</p>
<table width="100%">
  <tbody>
    <tr style="height:30px;">
      <td width="50%">甲方：${Acontract!}</td>
      <td width="50%">乙方：${Bcontract!}</td>
    </tr>
    <tr style="height:30px;">
      <td width="50%">授权代表签字：</td>
      <td width="50%">授权代表签字：</td>
    </tr>
    <tr style="height:30px;">
      <td width="50%">日期：</td>
      <td width="50%">日期：</td>
    </tr>
  </tbody>
</table>
